.Footer {
  margin-top: 1em;
  text-align: center;
  width: 100%;
  background-color: #232B2D;
}

ul{
 	list-style: none;
 }

 li{
     display: inline;
	color: #787878;
}

a{
	color: #787878;
}

a:hover{
	color: #FFE821;
}

