.Footer {
  margin-top: 1em;
  text-align: center;
  width: 100%;
  background-color: #232B2D;
  color: #FFF;
}

ul {
  list-style: none;
 }

 li {
  display: inline;
  color: #787878;
}

ul li a {
  text-decoration: none;
  color: grey;
}

ul li a:hover {
  color: #fff;
}



